<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Colab - API</title>
  </head>
  <body>
    <h1>Colab API:</h1>
    <nav style="display: flex; font-size: 1.2rem; flex-direction: column;">
      <ul>
        <li><a href="/api/users">Users</a></li>
        <li><a href="/api/tracks">Tracks</a></li>
        <li><a href="/">GO BACK</a></li>
      </ul> 
    </nav>
  </body>
</html>